<nav class="bg-gray-800">
    <div class="mx-auto px-4 py-2 max-w-7xl sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center space-x-5">
          <a routerLink="/" routerLinkActive="text-white bg-gray-900 px-3 py-2 rounded-md text-sm font-medium"
             [routerLinkActiveOptions]="{ exact: true }"
             class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
          <a routerLink="/projects" routerLinkActive="text-white bg-gray-900 px-3 py-2 rounded-md text-sm font-medium"
             [routerLinkActiveOptions]="{ exact: true }"
             class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Projects</a>
          <a routerLink="/about" routerLinkActive="text-white bg-gray-900 px-3 py-2 rounded-md text-sm font-medium"
             [routerLinkActiveOptions]="{ exact: true }"
             class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">About</a>
        </div>
      </div>
    </div>
  </nav>
  