<div class="m-10">
    <h1 class="text-3xl font-bold mb-4">Create Project</h1>

    <form [formGroup]="projectForm" (ngSubmit)="onAddProject()" class="space-y-2">
    <div class="flex flex-col">
        <label for="title" class="text-lg font-medium">Project Title</label>
        <input type="text" 
            id="title"
            formControlName="title" 
            placeholder="Project Title"
            class="p-2 border border-gray-500 rounded"
        />
        <div *ngIf="projectForm.get('title')?.invalid && projectForm.controls.title.touched" 
            class="text-red-500 text-sm font-medium"
        >*Project Title is required</div>
    </div>

    <div class="flex flex-col">
        <label for="category" class="text-lg font-medium">Project Category</label>
        <input type="text" 
            id="category"
            formControlName="category" 
            placeholder="Project Category"
            class="p-2 border border-gray-500 rounded"
        />
        <div *ngIf="projectForm.get('category')?.invalid && projectForm.controls.category.touched" 
            class="text-red-500 text-sm font-medium"
        >*Project Category is required</div>
    </div>

    <div class="flex flex-col">
        <label for="description" class="text-lg font-medium">Project Description</label>
        <textarea id="description"
            formControlName="description" 
            placeholder="Project Description"
            class="p-2 border border-gray-500 rounded"
        ></textarea>
        <div *ngIf="projectForm.get('description')?.invalid && projectForm.controls.description.touched" 
            class="text-red-500 text-sm font-medium"
        >*Valid Project Description required (min 10 characters)</div>
    </div>

    <button type="submit"
            [disabled]="!projectForm.valid"
            class="px-4 py-2 bg-blue-500 text-white font-medium rounded hover:bg-blue-600 transition-colors duration-200 disabled:bg-gray-400 disabled:cursor-not-allowed"
    >Add Project</button>
    </form>

</div>